body {
  background-image: url(./../images/cloudSky.jpg);
}

.option {
  height: 200px;
  width: 200px;
}

.currentTargetScore {
  height: 250px;
  width: 300px;
}

.textContainer {
  position: relative;
}

h2 {
  font-size: 3vw;
}

.text-block {
  position: absolute;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#winTextBlock {
  bottom: 40%;
  right: 45%;
}

#lossTextBlock {
  bottom: 40%;
  right: 33%;
}

h5 {
  font-size: 1.7vw;
}

#currentScoreTextBlock {
  bottom: 35%;
  right: 19%;
}

#targetScoreTextBlock {
  bottom: 35%;
  right: 15%;
}

#overlay {
  position: fixed;
  display: none;
  margin:auto;
  width: 75%;
  height: 75%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#winLossMsg {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: darkblue;
  background-color: rgba(0, 255, 255, 0.5);
}

#playAgain {
  position: fixed;
  width: 75%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.btnDiv {
  position: relative;
  /* width: 75%; */
  top: 75%;
}

footer {
  margin-top: 20px;
}