body {
  background-image: url(./../images/cloudSky.jpg);
}

.option {
  height: 200px;
  width: 200px;
}

.currentTargetScore {
  height: 250px;
  width: 300px;
}

.textContainer {
  position: relative;
}

h2 {
  font-size: 3vw;
}

.text-block {
  position: absolute;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#winTextBlock {
  bottom: 40%;
  right: 45%;
}

#lossTextBlock {
  bottom: 40%;
  right: 33%;
}

h5 {
  font-size: 1.7vw;
}

#currentScoreTextBlock {
  bottom: 35%;
  right: 19%;
}

#targetScoreTextBlock {
  bottom: 35%;
  right: 15%;
}

footer {
  margin-top: 20px;
}